<div class="suggestion-card">
  <div class="card">
    <img class="card-img-top" [src]="'../../assets/images/' + pant.image">
    <div class="card-body">
      <h5>{{ pant.brand }} - {{ pant.name }}</h5>
          <app-slider
                  id="suggestion{{ pant.id }}SliderRise"
                  header="Waist Rise"
                  [min]="constants.riseMin"
                  [max]="constants.riseMax"
                  [currentValue]="pant.rise"
                  [disabled] = true>
          </app-slider>
          <app-slider
                  id="suggestion{{ pant.id }}SliderThigh"
                  header="Thigh Fit"
                  [min]="constants.thighMin"
                  [max]="constants.thighMax"
                  [currentValue]="pant.thigh"
                  [disabled] = true>
          </app-slider>
          <app-slider
                  id="suggestion{{ pant.id }}SliderKnee"
                  header="Knee Fit"
                  [min]="constants.kneeMin"
                  [max]="constants.kneeMax"
                  [currentValue]="pant.knee"
                  [disabled] = true>
          </app-slider>
          <app-slider
                  id="suggestion{{ pant.id }}SliderAnkle"
                  header="Ankle Fit"
                  [min]="constants.ankleMin"
                  [max]="constants.ankleMax"
                  [currentValue]="pant.ankle"
                  [disabled] = true>
          </app-slider>
      <div class="d-flex justify-content-between">
          <a href="/compare/{{pant.id}}" class="btn btn-primary suggestion-button">
              Compare
          </a>
          <button type="button" class="btn btn-warning suggestion-button" (click)="purchase()">
              Buy
          </button>
      </div>
    </div>
  </div>
</div>
