<div class="jumbotron">
    <h1>Find similar pants</h1><!-- todo: less vertical padding, maybe a title component? -->
</div>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-4 col-sm-6">
            <div class="card">
                <img class="card-img-top" [src]="'../../assets/images/' + pant.image">
                <div class="card-body">
                    <h3 class="card-title">{{ pant.brand }} - {{ pant.name }}</h3>
                    <button [hidden]="!suggestedPants.length > 0" (click)="scrollToSuggestions()"
                            class="d-sm-none btn btn-info btn-block">
                        View {{suggestedPants.length}} suggested pants
                    </button>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">
                            <app-slider
                                id="compareSliderRise"
                                header="Waist Rise"
                                minLabel="low"
                                maxLabel="high"
                                [min]="constants.riseMin"
                                [max]="constants.riseMax"
                                [currentValue]="pant.rise"
                                [disabled] = false
                                (valueEmitter)="this.updateSuggestions('rise', $event)">
                            </app-slider>
                        </li>
                        <li class="list-group-item">
                            <app-slider
                                id="compareSliderThigh"
                                header="Thigh Fit"
                                minLabel="tight"
                                maxLabel="loose"
                                [min]="constants.thighMin"
                                [max]="constants.thighMax"
                                [currentValue]="pant.thigh"
                                [disabled] = false
                                (valueEmitter)="this.updateSuggestions('thigh', $event)">
                            </app-slider>
                        </li>
                        <li class="list-group-item">
                            <app-slider
                                id="compareSliderKnee"
                                header="Knee Fit"
                                minLabel="tight"
                                maxLabel="loose"
                                [min]="constants.kneeMin"
                                [max]="constants.kneeMax"
                                [currentValue]="pant.knee"
                                [disabled] = false
                                (valueEmitter)="this.updateSuggestions('knee', $event)">
                            </app-slider>
                        </li>
                        <li class="list-group-item">
                            <app-slider
                                id="compareSliderAnkle"
                                header="Ankle Fit"
                                minLabel="tight"
                                maxLabel="loose"
                                [min]="constants.ankleMin"
                                [max]="constants.ankleMax"
                                [currentValue]="pant.ankle"
                                [disabled] = false
                                (valueEmitter)="this.updateSuggestions('ankle', $event)">
                            </app-slider>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md-8 col-sm-6">
            <div class="jumbotron">
                <h2 id="suggestedPants">Suggested pants</h2><!-- todo: less vertical padding, maybe a title component? -->
            </div>
            <div class="row">
                <div *ngFor="let suggestion of suggestedPants | pantIdFilter:pant.id"
                     class="col-sm-12 col-md-6 col-xl-4 mb-4">
                    <app-suggestion [pant]="suggestion"></app-suggestion>
                </div>
            </div>
        </div>
    </div>
</div>
