<div id="pants-list-component">

<div class="jumbotron">
    <h1>Find the perfect pair of jeans.</h1>
    <p class="lead">
        First, select a pair of jeans that you're familiar with.
        Then, search for a pair that's similar, but better.
    </p>
</div>

<div class="container-fluid">
    <div class="row">
        <div class="col-12 mb-3">
            <input #searchBox id="search-box" (input)="search(searchBox.value)" autofocus />
        </div>
    </div>
</div>

<div class="container-fluid">
    <div class="row search-result">
        <div *ngFor="let pant of pants$ | async" class="col-sm-3 mb-3">
            <app-suggestion [pant]="pant"></app-suggestion>
        </div>
    </div>
</div>

</div>
