.slider-label {
    width: 100%;
}

.slide-wrapper {
    width: 100%;
    position: relative;
    display: inline-block;
    margin: 0 .2rem;
}

.ghost-thumb {
    display: inline-block;
    background: #8A8A97;
    border-radius: 50%;
    width: 1rem;
    height: 1rem;
    position: absolute;
    top: .45rem;
    z-index: 0;
}

.slider-end-label>* {
    float: right;
}

.slider-end-label>*:first-child {
    float: left;
}

.app-slider .custom-range {
    vertical-align: middle;
    position: relative;
    z-index: 20;
}
