<div class="app-slider">
    <div class="form-group">
        <label class="slider-label" for="{{id}}-new">
            <h6>{{header}}</h6>
            <div class="slide-wrapper">
                <div id="{{id}}-ghost" class="ghost-thumb"
                     [style.left]="sliderPosition + 'px'" [hidden]="!isSet || disabled"></div>
                <input #slider class="custom-range" type="range" step=".001"
                       id="{{id}}-new"
                       min="{{min}}"
                       max="{{max}}"
                       value="{{currentValue}}"
                       [attr.disabled]="disabled ? true : null"
                       (input)="emit(+slider.value)"
                />
            </div>
            <div class="slider-end-label">
                <div class="badge">{{minLabel}}</div>
                <div class="badge">{{maxLabel}}</div>
            </div>
        </label>
    </div>
</div>
