// Color system

$white: #FBF6EE;
$gray-100: #D5D2D1;
$gray-200: #B0AEB4;
$gray-300: #8A8A97;
$gray-400: #65667A;
$gray-500: #40435E;
$gray-600: #32364B;
$gray-700: #2C3041;
$gray-800: #252A38;
$gray-900: #1E242E;
$black: #181E25;

$blue: #1a28b3;
$indigo: #410892;
$purple: #630b92;
$pink: #f0828f;
$red: #9e0f07;
$orange: #c9692c;
$yellow: #f5b800;
$green: #00710e;
$teal: #0d7b92;
$cyan: #149092;

// jumbotron
$jumbotron-padding: 1.5rem;
$jumbotron-color: $white;
$jumbotron-bg: $gray-600;
